/*
  Possible Animations:
  enter
  exit
  appear Must set transitionAppear={true} on animation component
*/

peoplemation-enter
  background red
  &.peoplemation-enter-active
    background yellow


