body {
  font-size: 16px;
}
.main-form {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  width: 100%;
}
input {
  padding: 0.5em;
}
.peoplemation-enter {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 25%;
}
.peoplemation-enter.peoplemation-enter-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 100%;
}
.peoplemation-exit {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.peoplemation-exit.peoplemation-exit-active {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
/*
.formation-enter
  transform: translateY(-150%)
  transition: 5s
  &.formation-enter
    transform: translateY(0)
    opacity: 100%

.formation-exit
  transform: translateY(0)
  transition: 1s
  &.formation-exit-active
    transform: translateY(-100%)
    */
